#### The states with the most guns report the most suicides

In [112]:
from __future__ import print_function
import sys
import time
from ConfigParser import ConfigParser
import pandas as pd

In [113]:
df = pd.read_excel("GunOwnership_Data.xlsx")

In [114]:
df.head()

,Variable,States with the Highest Rates of Gun Ownership,States with the Lowest Rates of Gun Ownership,Ratio of Mortality Rates
0,Person-years,195 million,200 million,NaN
1,Percent of households with guns,47,15,NaN
2,Male,NaN,NaN,NaN
3,No of firearm suicides,14365,3971,3.7
4,No of nonfirearm suicides,6573,6781,1.0

In [115]:
df.describe()

       Ratio of Mortality Rates
count                  6.000000
mean                   2.916667
std                    2.627102
min                    1.000000
25%                    1.275000
50%                    1.900000
75%                    3.275000
max                    7.900000

In [116]:
df.shape

(10, 4)


###  The states with the most guns report the most suicides

In [64]:
df

,Variable,States with the Highest Rates of Gun Ownership,States with the Lowest Rates of Gun Ownership,Ratio of Mortality Rates
0,Person-years,195 million,200 million,NaN
1,Percent of households with guns,47,15,NaN
2,Male,NaN,NaN,NaN
3,No of firearm suicides,14365,3971,3.7
4,No of nonfirearm suicides,6573,6781,1.0
5,Total No,20938,10752,2.0
6,Female,NaN,NaN,NaN
7,No of firearm suicides,2212,286,7.9
8,No of nonfirearm suicides,2599,2478,1.1
9,Total No,4811,2764,1.8

In [117]:
dfgrp = df.groupby(['Variable']).agg({'States with the Highest Rates of Gun Ownership':'sum','States with the Lowest Rates of Gun Ownership':'sum'})

In [118]:
df2 =  dfgrp.dropna()

In [68]:
df2

,States with the Lowest Rates of Gun Ownership,States with the Highest Rates of Gun Ownership
Variable,,
No of firearm suicides,4257,16577
No of nonfirearm suicides,9259,9172
Percent of households with guns,15,47
Person-years,200 million,195 million
Total No,13516,25749

In [119]:
dffinal = df2[:2]

In [120]:
dffinal

,States with the Lowest Rates of Gun Ownership,States with the Highest Rates of Gun Ownership
Variable,,
No of firearm suicides,4257,16577
No of nonfirearm suicides,9259,9172

In [121]:
dffinal.to_csv("GunOwnershipGrp.csv",encoding='utf-8')