#### On average, there is around one mass shooting for each day in America

In [36]:
from __future__ import print_function
import sys
import time
from ConfigParser import ConfigParser
import pandas as pd
import math as mt

In [37]:
df = pd.read_csv("2015_Mass Shooting Tracker_1st.csv")

In [38]:
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,"December 31, 2015",Louisiana,New Orleans,1900 block of Amelia Street,0,6,NaN
1,"December 27, 2015",Tennessee,Jackson,North Parkway,0,4,NaN
2,"December 26, 2015",Pennsylvania,Philadelphia,4210 Macalester St,0,4,NaN
3,"December 25, 2015",Florida,Jacksonville,Franklin and Odessa,0,4,NaN
4,"December 25, 2015",Alabama,Mobile,785 Schillinger Rd S,0,4,NaN

In [39]:
df.drop(labels=['Operations'],inplace=True,axis=1)

In [40]:
df.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured
0,"December 31, 2015",Louisiana,New Orleans,1900 block of Amelia Street,0,6
1,"December 27, 2015",Tennessee,Jackson,North Parkway,0,4
2,"December 26, 2015",Pennsylvania,Philadelphia,4210 Macalester St,0,4
3,"December 25, 2015",Florida,Jacksonville,Franklin and Odessa,0,4
4,"December 25, 2015",Alabama,Mobile,785 Schillinger Rd S,0,4

In [41]:
df.dtypes

Incident Date     object
State             object
City Or County    object
Address           object
# Killed           int64
# Injured          int64
dtype: object

In [42]:
df['Mass_shooting'] = df['# Killed'] + df['# Injured']

In [43]:
df1 = df.sort_values(by=['Incident Date'])

In [44]:
df1.to_csv('redesign2.csv')